<html>
    <head>

    </head>
    <body>
        <h1>Messages</h1>
        <% messages.forEach(msg => { %>
            <p>
                <%= msg.user %>
                <%= msg.text %>
                <%= msg.added %>
            </p>
        <% }) %>
    </body>
</html>